{
  "all": true,
  "include": [
    "components/**/*.{ts,tsx}",
    "src/**/*.{ts,tsx}"
  ],
  "exclude": [
    "**/*.{test,spec,cy}.{ts,tsx}",
    "coverage/**",
    "cypress/**",
    "**/*.d.ts"
  ],
  "reporter": [
    "text",
    "json",
    "html"
  ],
  "extension": [
    ".ts",
    ".tsx"
  ],
  "check-coverage": true,
  "statements": 80,
  "branches": 80,
  "functions": 80,
  "lines": 80
}